[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
ServerData/
TestResults/
.bootstrap/
.tools/
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.pidb
*.user
*.opendb
*.VC.db
*.log
*.tmp
__pycache__/
*.pyc
Assets/StreamingAssets/aa*
Assets/AddressableAssetsData/*/*.bin*
Assets/AddressableAssetsData/BuildReports*
